@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Poppins:wght@200;400;600;700;800;900&display=swap');

:root {
    background-image: url("../images/bg.jpg");
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

body {
    width: 90%;
}

main {
    display: flex;
    justify-content: center;
}

.container {
    color: white;
    font-family: 'Poppins', monospace;
    text-align: center;
    padding: 5%;
    background-color: #332c2c9c;
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    border-radius: 12px;
    border: 1px solid #a1a1a17d;
    width: fit-content;
}

.text-name {
    font-size: 400%;
    color: #ffffff;
    font-weight: 600;
}

.text-desc {
    font-size: 20px;
    padding: 1%;    
    font-weight: 300;

}

.social-links {
    list-style: none;
    padding: 2%;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    padding: 18px;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.334);
}

a {
    text-decoration: none;
    color: white;
    position: relative;
    padding: 4px 8px;
    margin: 0 5px;
    transition: 0.2s ease all;
    border-radius: 6px;
}

a::after {
    background-color: #ffffff;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 2px;
    transition: 0.2s ease all;
    border-radius: 6px;
}

a:hover {
    background-color: black;
}

a:hover::after {
    height: 100%;
    background-color: transparent;
    backdrop-filter: invert(1);
}
